body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.breed-select {
    width: 300px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 5px;
    margin-bottom: 20px;
}

.loader {
    width: 48px;
    height: 48px;
    border: 3px solid #de1212;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 4px;
    top: 4px;
    border: 2px solid #FFF;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.error {
    display: none;
    text-align: center;
    color: red;
    font-weight: bold;
    margin-top: 20px;
}

.cat-container {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.cat-image {
    max-width: 600px;
    height: auto;
    margin-right: 20px;
}

.cat-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cat-title {
    margin: 0;
    font-size: 20px;
    margin-bottom: 5px;
}

.cat-temperament {
    font-weight: bold;
    margin-top: 10px;
}

.cat-description,
.cat-temperament {
    max-width: 600px;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}